fastapi
uvicorn[standard]
marshmallow
flask-marshmallow
flask-sqlalchemy
sqlalchemy
pynacl
pyyaml
pydantic
marshmallow-sqlalchemy
psycopg2
passlib
python-multipart
pyjwt[crypto]
pyotp
argon2_cffi
python-magic
uuid